<div class="container" style='background-color: #eee;height:700px' ng-controller='findpwController'>
    <div class="row" style='padding:50px'>
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            <div class="row">
                <div class="col col-md-6 text-left">
                    <label>找回密码</label>
                </div>
                <div class="col col-md-6">

                </div>
            </div>
            <div class="row" ng-show='next'>
                <div class="col col-md-12">
                    <form action="">
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group" style='border-radius: 5px 5px 5px 5px'>
                                    <div class="input-group" style='width:100%'>
                                        <input type="text" class="form-control" ng-model='userName' style='border-bottom:solid 0px white;height:45px' placeholder="请输入您的手机号" aria-describedby="basic-addon1">
                                        <span class="input-group-addon" ng-click='captcha()' style='cursor:pointer;background-color: #f9fbfb'>获取验证码</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model='verification' style='border-bottom:solid 0px white;height:45px' placeholder="请输短信验证码">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <input type="button" class='btn btn-primary' ng-click="checkVerification()" style='background-color: #4b8ccb;width:100%;height:50px' value='下一步'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="row" ng-show='!next'>
                <div class="col col-md-12">
                    <form action="">
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="form-group" style='border-radius: 5px 5px 5px 5px'>
                                    <div class="input-group" style='width:100%'>
                                        <input type="password" class="form-control" ng-model='password' style='border-bottom:solid 0px white;height:45px' placeholder="请输入新密码" aria-describedby="basic-addon1">
                                    </div>
                                    <input type="password" class="form-control" ng-model='newpassWd' style='border-bottom:solid 0px white;height:45px' placeholder="请重复新密码">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <input type="button" class='btn btn-primary' ng-click="resetPsw()" style='background-color: #4b8ccb;width:100%;height:50px' value='确定'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-md-4"></div>
    </div>
</div>